<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id='app'>
        <production :total='all'></production>
        <input type="text" v-model='count'>
        <input type="text" v-model='price'>       
    </div>
</body>
<script src="js/vue1.js"></script>
<script>
    
    const production={
        template:`<p>{{total}}</p>`,
        props:['total']
    }

    var vm= new Vue({
        el:'#app',
        data:{
            count:0,
            price:0
        },
        computed:{
            all(){
                return this.count*this.price;
            }
        },
        components:{production}
    })

</script>
</html>