@charset "utf-8";

/* -- Reset -- */
body,ul,dl,dd,h1,h2,h3,h4,h5,h6,p,form,input,textarea,select,button{margin:0;padding:0;font:12px 'Microsoft YaHei',Arial,Helvetica,sans-serif;}
ul,ol{padding-left:0;list-style-type:none;}
img{border:0 none;}
em,i{font-style:normal;}
a:link{color:#4F14F7;text-decoration: none;}
a:visited{color:#551a8b;}
a:hover{color:#FF9900;text-decoration: underline;}
a:active{color: #cc0000;}


/* -- Common style -- */
.dn{display:none;}
.db{display:block;}
.fl{float:left;}
.fr{float:right;}
.rel{position: relative;}
.abs{position: absolute;}
.gap{height: 10px;width: 100%;}
.auto{margin: 0 auto;}
.clear{clear: both;}
.clearfix:after{content: "\200B";display: block;height: 0;clear: both;}
.clearfix{*zoom: 1;} 

/*栅格系统*/
.raster{padding: 0 10px; margin: 0 auto;}
.row{margin: 0 -5px;}
.row:before, .row:after{content: ''; display: table; clear: both;}
.col{min-height: 1px; float: left; position: relative; padding: 0 5px; box-sizing: border-box;}
.col-1{width: 8.333333%;}
.col-2{width: 16.666666%;}
.col-3{width: 25%;}
.col-4{width: 33.333333%;}
.col-5{width: 41.666666%;}
.col-6{width: 50%;}
.col-7{width: 58.333333%;}
.col-8{width: 66.666666%;}
.col-9{width: 75%;}
.col-10{width: 83.333333%;}
.col-11{width: 91.666666%;}
.col-12{width: 100%;}

/* 按钮组 */
.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.btn {
  display: inline-block;
  padding: 5px 15px;
  border: 1px solid transparent;
 /*  border-radius: 4px; */
  background-color: #10a26a;
  outline: transparent;
}
.btn-group > .btn {
  position: relative;
  float: left;
  display: inline-block;
  padding: 5px 15px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  outline: transparent;
}
.btn-group > .btn.active {
  background-color: #bbb;
  color: #fff;
}
.btn-group > .btn + .btn {
  margin-left: -1px;
}
.btn-group > .btn:first-child {
  border-radius: 4px 0 0 4px;
}
.btn-group > .btn:last-child {
  border-radius: 0 4px 4px 0;
}
.btn.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}
.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
}

/* 表单输入框 */
.input-block {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.input-block > .input-label {
  display: inline-block;
  max-width: 100%;
}
.input-block > .input-txt {
  border: none;
  padding: 6px;
  outline: transparent;
}

/* Icon*/
.icon {
  display: inline-block;
  min-width: 10px;
  min-height: 10px;
  cursor: pointer;
}

/* 遮罩层 */
.mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  opacity: 0.8;
  filter: alpha(opacity=80);
  z-index: 999;
  display: none;
}

.mask.on {
  display: block;
}

body,html{
  height: 100%;
}
.main{
  height: 100%;
  padding-top: 10px;
  /* background: url('../images/bg_11.png'); */
 /*  background: url(../images/bg_11.png) bottom no-repeat; */
}
 input::-webkit-input-placeholder{
            color:#bbb;
        }
        input::-moz-placeholder{   /* Mozilla Firefox 19+ */
            color:#bbb;
        }
        input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
            color:#bbb;
        }
        input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
            color:#bbb;
        }
        
.tbale-2 .disabled{
	cursor:not-allowed;
}        