<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        div>div{
            width: 200px;
            height: 200px;
        }
        .red{
            background: red
        }
        .green{
            background:green;
        }
        /* vue还没调用时，样式隐藏视图，vue调用后会删除v-cloak指令，以显示视图 */
        [v-cloak]{
            display: none
        }
    </style>
</head>
<body>
    <div id="div" v-cloak>
        <input type="text" placeholder="数量" v-model='count'>
        <input type="text" placeholder='单价' v-model='price'>

        <!-- 使用时不要把计算属性当函数来调用 -->
        <!-- {{total()}}->报错 -->
       {{total}}
    </div>
</body>
<script src="js/vue.js"></script>
<script>

   var vm=new Vue({
        el:'#div',
        data:{
            count:0,
            price:100,
        },
        computed:{
            total(){
                // var res=0;
                // setTimeout(function(){
                //     res=this.count*this.price
                // },1000);
                //因为异步操作不阻塞代码,因此return的一直都是0;
                //return res;

                // var res=0;
                // setTimeout(function(){
                    //return在定时器的回调函数里,是回调函数有返回值,不是total有返回值
                    // return res=this.count*this.price
                // },1000);
                
                //计算属性内不能进行异步操作
                //如果希望有异步操作，可以使用watch来代替异步操作
                // var _this=this;
                // ajax('Get',url,function(data){
                //     _this.msg=data;
                // })               
                // return this.msg*this.abc

            }
       }
    });

</script>
</html>