<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id='app'>
        <input type="button" value='插入li' @click='show()'>
        <input type="text" v-model='msg'>
        <div is='vDiv' :arr='arr'></div>
    </div>
</body>
<script src="../js/vue1.js"></script>
<script>
    //把app内的div变成子组件,每点击一次按钮,在组件内插入一个p.
    //p的内容从text文本框获取

    const vDiv={
        template:
        `<div>
            <p v-for='d in arr'>{{d}}</p>
        </div>`,
        props:['arr']
    }

    var vm=new Vue({
        el:"#app",
        data:{
            arr:[],
            msg:''
        },
        methods:{
            show(){
                this.arr.push(this.msg)
            }
        },
        components:{vDiv}
    })

</script>
</html>