<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .active{
            background: red
        }
    </style>
</head>
<body>
    <div id='app'>
        <div v-for='(d,i) in arr'>
            <a :href="d.href" @click='index=i' :class='{active:index==i}'>{{d.content}}</a>
            <input type="text" v-model='d.msg'>
        </div>        
        <router-view :arr='arr'></router-view>
    </div>
</body>
<script src="../js/vue1.js"></script>
<script src="../js/vue-router.js"></script>
<script>
    //用路由实现->
    //点击相应的a只显示相应的div内容
    const div1={
        template:`
        <div>
            <h3>{{arr[0].content}}</h3>
            <p>{{arr[0].msg}}</p>
        </div>`,
        props:['arr']
    }
    const div2={
        template:`
        <div>
            <h3>{{arr[1].content}}</h3>
            <p>{{arr[1].msg}}</p>
        </div>`,
        props:['arr']
    }
    const div3={
        template:`
        <div>
            <h3>{{arr[2].content}}</h3>
            <p>{{arr[2].msg}}</p>
        </div>`,
        props:['arr']
    }
    const div4={
        template:`
        <div>
            <h3>{{arr[3].content}}</h3>
            <p>{{arr[3].msg}}</p>
        </div>`,
        props:['arr']
    }

    const router=new VueRouter({
        routes:[
            {
                path:'/one',
                component:div1
            },
            {
                path:'/two',
                component:div2
            },
            {
                path:'/three',
                component:div3
            },
            {
                path:'/four',
                component:div4
            },
            {
                path:'*',
                redirect:'/one'
            }
        ]
    })

    new Vue({
        el:'#app',
        data:{
            arr:[
                {content:'主页',msg:'',href:'#one'},
                {content:'大杨幂',msg:'',href:'#two'},
                {content:'小冰冰',msg:'',href:'#three'},
                {content:'大王八',msg:'',href:'#four'}
            ],
            index:0
        },
        router
    })
</script>
</html>