<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
</body>
<script>

    // 1:v-on:click='表达式';@mouseover='表达式';@click.stop.prevent='事件函数';
    // 2:v-bind:属性名='表达式'; :class='["red","green"]'; :class='{red:true,green:false}';
    //   :style='{width:"表达式",height:"表达式"}'
    // 3:v-model='msg'->将一个vue实例的数据跟当前表单元素绑定,通过操作表单元素来修改该数据,实现双向数据绑定.
    //   v-model.lazy='msg',数据改变事件从input变成了blur,失焦后更新视图.
    // 4:v-if='表达式',v-else-if='表达式',v-else->根据表达式的值用于显示隐藏.v-show='表达式'.
    // 5:v-if切换视图时会最大限度复用标签,如果希望不复用,需要给不想复用的标签添加属性key并且赋不一样的值
    // 6:v-text,v-html;v-pre,v-once;v-cloak->用于隐藏vue调用前的花括号;
    // 7:自身的值依赖于别的值的计算,都可以用计算属性来实现.计算属性的值需要return,不能操作异步操作.
    //    计算属性所依赖的数据发生变化时,都会触发计算属性.
    // 8:watch->当数据发生变化时,都会触发watch回调函数,可以在函数内自定义其他逻辑.
    //    watch:{
    //        数据名(newVal,oldVal){},数据变化之后的值和变化之前的值.
    //    }
    
</script>
</html>