*{
	padding: 0;
	margin: 0;
}

ul,ol{
	list-style: none;
}

a{
	text-decoration: none;
}

html{
	font-size:14px;
}

img{
	position: relative;
}

.fixed:after{
	content: '';
	display: block;
	clear:both;
}

.container{
	width: 1200px;
	margin:0 auto;
}

#top_bar{
	background: #f2f2f2;
	font-size:12px;
}

.left{
	float: left;
}

.right{
	float: right;
}
#top_bar a{
	color:#999;
}
#top_bar li{
	float: left;
	line-height:30px;
	text-align: center;
	padding: 0 10px;
	color:#999;
}
#top_bar li:hover>a{
	color:#C40000;
	text-decoration: underline;
}
#top_bar .hover_bg{
	padding-right:5px;
}

#top_bar .hover_bg:hover{
	background: #ffffff;
}

#top_bar img{
	top:4px;
}

#search{
	margin-left:50px;
	margin-top:40px;
}

#search [type="text"]{
	border:2px solid #c40000;
	width: 500px;
	padding: 15px 0 15px 20px;
	outline:none;
}
#search [type="button"]{
	border:2px solid #c40000;
	background: #c40000;
	padding:0 40px;
	height: 49px;
	font-size:18px;
	color:#fff;
	font-weight: bold;
	position: relative;
	top:3px;
	outline:none;
}

#search li>a{
	color:#999
}

#search>ul{
	margin-top:10px;
}

#search .red>a{
	color:#c40000;
}

#search li{
	float: left;
	padding: 0 10px;
	border-right:1px solid #999;
}

#nav{
	background: #c40000;
}

#nav li>a{
	color:#fff;
	font-size:16px;
}
#nav div>img{
	position: relative;
	top:3px;
}

#nav div.left{
	width:150px;
	color: #fff;
	font-size:16px;
	background: darkred;
	padding-left:10px ;
}

#nav ul{
	margin-left: 20px;
}

#nav ul img{
	height: 36px;
}

#nav span{
	line-height: 36px;
}

#nav li{
	font-size:0;
	float: left;
	height: 36px;
	padding: 0 10px;
}

#nav li:hover{
	background: darkred;
}

#nav .items{
	line-height: 36px;
	height: 36px;
}

