@charset "utf-8";
/* CSS Document */
body{ margin:0; padding:0; background: url(../images/jiaocbj.png); background-repeat:repeat;}
div,ul,li,img,form,dl,dt,dd,span,p{ margin:0px; padding:0px; border:none;}
ul{list-style-type:none;margin:0px;padding:0px;}
li{list-style-type:none; list-style-position:outside;*zoom:1;}

#head{ background:url(../images/jiaocdh.png); background-repeat:repeat-x; height:50px; width:100%;}
#head .divB{ background:url(../images/jclogo.png); width:1000px; margin:auto; height:50px;}
#head ul{margin-left:680px; float:left; display:inline;}
#head ul li{ padding-left:15px; float:left; width:132px; height:46px;}

#content{ margin:auto; width:1000px; margin-top:0px; height:2500px;}
#content #BiaoTi{ width:1000px;; height:94px; margin-top:0px;}
#content #BiaoTi .ulbt{ width:1000px; float:left; height:56px; margin-top:30px; position:relative;}
#content #BiaoTi .ulbt li{ float:left; height:26px;}
#content #BiaoTi .ulbt .li1{ width:167px; background:url(../images/tjjcwenzi.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/tjjcwenzi.png");}
#content #BiaoTi .ulbt .li2{ width:119px; background:url(../images/andjc.png); margin-left:30px; cursor:pointer;}
#content #BiaoTi .ulbt .li2 .ulIOS{ position:absolute;display:none; width:119px;height:30px;top:26px;background:url(../images/IOSjc2.png);}
#content #BiaoTi .ulbt .li2 .ulIOS a{ display:block; position:relative; width:119px; height:30px;}
#content #zhengWen{ margin-top:0px; height:auto;}
#content #zhengWen ul{ width:1000px; height:2321px;}
#content #zhengWen ul li{ float:left; margin-top:0px; display:block;}

#footB{ width:100%; height:188px; background:url(../images/footb.png)}
#foot{height:188px; width:1000px; margin-bottom:0px; background:url(../images/foot.png) no-repeat; margin:auto;}
#foot .ul1{ width:900px; margin-left:100px; margin-top:80px; float:left; display:inline; overflow:hidden}
#foot .ul1 li{ width:189px; margin-left:32px; float:left; display:inline; }
#foot .ul1 li a{ display:block;text-align:left;font-family:"微软雅黑"; font-size:14px; color:#525252; line-height:20px; letter-spacing:1px; text-decoration:none;}
#foot .ul1 li a:hover{ color:#09F;}
#foot .ul2{ width:1000px; margin-top:70px; float:left;}
#foot .ul2 li{ font-size:12px; color:#7c7c7c; text-align:center; height:21px;}
